

{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{% static 'login.css' %}">
    <title>Index</title>
</head>
<body>
<div>
    <h2> Please, login</h2>
</div>
<div>
    <form class="login" method='post' action="{% url 'loginJ' %}">
        {{ form.as_p }}

                <button class="login">LOGIN</button>
                {% csrf_token %}
            </form>
     <form class="registration" method='post' action="{% url 'registration' %}">
                <button class="login">New registration</button>
                {% csrf_token %}
            </form>
</div>

</body>
</html>