{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
     <link rel="stylesheet" href="{% static 'login.css' %}">
    <script type="text/JavaScript" src="{% static 'index.js' %}"> </script>
    <title>Title</title>
</head>
<body onload="startTime()">


<header>
    <div class="gruss">Helloo {{ user|capfirst}}</div>
    <div id="txt"></div>


<div>
        <form class="app" method='get' action="{% url 'restusers' %}">
         <button class="regi">Users</button>
            {% csrf_token %}

        </form>
    </div>

<div>
        <form class="app" method='get' action="{% url 'brands' %}">
         <button class="regi">Brands</button>
            {% csrf_token %}

        </form>
    </div>



<div>
        <form class="app" method='get' action="{% url 'models' %}">
         <button class="regi">Models</button>
            {% csrf_token %}

        </form>
    </div>

<div>
        <form class="app" method='get' action="{% url 'cars' %}">
         <button class="regi">Cars</button>
            {% csrf_token %}

        </form>
    </div>

<div>
        <form class="app" method='get' action="{% url 'logout' %}">
         <button class="regi">Logout</button>
            {% csrf_token %}

        </form>
    </div>

    <div>
        <form class="app" method='get' action="{% url 'create car' %}">
         <button class="regi">Create new car </button>
            {% csrf_token %}

        </form>
    </div>

</header>

<div class="info">
<div class="cars">
<h2> Cars:</h2>
    <table>
    <tr>
        <th>User</th>
        <th>Model</th>
        <th>Brand</th>
        <th>odometer</th>
        <th>Year</th>
        <th>edit</th>

    </tr>
    {%  for each in cars %}
        <tr>

            <td>{{ each.user}}</td>
            <td>{{ each.car_model }}</td>
            <td>{{ each.car_brand }}</td>
            <td>{{ each.odometer }}</td>
            <td>{{ each.first_reg }}</td>
            <td>
                <form class="app" method='get' action="{% url 'single car' each.id %}">
         <button class="regi">edit</button>
            {% csrf_token %}

        </form>

            </td>

        </tr>

    {% endfor %}
</table>
</div>

<div class="model">
<h2> Models:</h2>
    <table>
    <tr>

        <th>Model</th>
        <th>Brand</th>
        <th>edit</th>


    </tr>
    {%  for each in models %}
        <tr>

            <td>{{ each.name}}</td>
            <td>{{ each.car_brand}}</td>

            <td>
                <form class="app" method='get' action="{% url 'single model' each.id %}">
         <button class="regi">edit</button>
            {% csrf_token %}

        </form>

            </td>

        </tr>

    {% endfor %}
</table>
</div>

<div class="brands">
<h2> Brands:</h2>
    <table>
    <tr>

        <th>Brand</th>
        <th>edit</th>


    </tr>
    {%  for each in brands %}
        <tr>

            <td>{{ each.name}}</td>


            <td>
                <form class="app" method='get' action="{% url 'single brand' each.id %}">
         <button class="regi">edit</button>
            {% csrf_token %}

        </form>

            </td>

        </tr>

    {% endfor %}
</table>
</div>

</div>
<div class="users">
<h2> Users:</h2>
    <table>
    <tr>
        <th>Username</th>
        <th>First name</th>
        <th>Last name</th>
        <th>is deleted</th>
        <th>edit</th>

    </tr>
    {%  for each in users %}
        <tr>

            <td>{{ each.username}}</td>
            <td>{{ each.first_name}}</td>
            <td>{{ each.last_name }}</td>
            <td>{{ each.is_deleted }}</td>
{#            {% if not each.is_deleted %}#}
            <td>
                <form class="app" method='get' action="{% url 'edit user' each.id %}">
         <button class="regi">edit</button>
            {% csrf_token %}

        </form>

            </td>
{#        {% endif %}#}

        </tr>

    {% endfor %}
</table>
</div>

</body>
</html>


