{% load bootstrap4 %}
{% bootstrap_css %}
{% bootstrap_javascript jquery='full' %}
{{ form.media }}


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <style>
        .field{
            width: 30%;
        }
    </style>
</head>
<body>
<h2> Make Your registration here:</h2>
<div>
    <form class="field" enctype="multipart/form-data" method='post' action="{% url 'registration' %}">
            {{ form.as_p }}

         <button class="regi" type="submit"> SAVE </button>
            {% csrf_token %}
        </form>
</div>

</body>
</html>