body{
    background: greenyellow;
}
table, th, td {
  border: 1px solid;
}

div.info{
    display: flex;
    flex-direction: row;



}
div {
    margin-left: 1rem;
}

header{
    margin-top: 10px;
    display: flex;
    flex-direction: row;
}